<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Usercenter</title>
	<base href="/">
	<% include _header.ejs %>
	<script>
	</script>
</head>
<body class="auth">
	<div class="navbar navbar-default navbar-static-top">
		<div class="navbar-inner">
			<div class="container">
				<div class="navbar-brand">Opensource Login</div>
			</div>
		</div>
	</div>

	<div id="main">
		
	</div>
	<div class="footer text-center text-muted">
		
		<hr>
		by @watert
	</div>
</body>
</html>