<!DOCTYPE html>
<html>
  <head>
    <base href="<%=baseUrl%>/">
    <title>Mocha</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/test/mocha.css" />
  </head>
  <body>
    <div id="mocha"></div>
    <script src="public/test/mocha.js"></script>
    <script>mocha.setup('bdd');</script>
    <script src="public/bundle.js"></script>
    <script src="public/test/tests.js"></script>
    <script>
      mocha.run();
    </script>
  </body>
</html>
