extends layout-weblib
block append head

	script(type="text/javascript").
		require(["backbone.marionette"],function(BM){
			$(".nav-tabs a").click(function(){	
				$(this).tab("show")
			})
		})
			
block append body
	.container#user
		ul.nav.nav-tabs
			li.active: a(href="javascript:void(0)",data-target="#login") Login
			li: a(href="javascript:void(0)",data-target="#signin") Sign in
		br
		.tab-content
			.tab-pane.active#login
				form.form(id="", method="POST", action="user/login"): .row
					.col.col-sm-4: input.form-control(type="text",name="name",placeholder="User Name")
					.col.col-sm-4: input.form-control(type="password",name="password",placeholder="Password")
					.col.col-sm-4: button(type="submit").btn.btn-primary Login
			.tab-pane#signin
				form.form(id="", method="POST", action="user/regist"): .row
					.col.col-sm-4
						label Email
						input.form-control(type="email",name="email",placeholder="Email")
					.col.col-sm-4
						label User Name
						input.form-control(type="text",name="name",placeholder="User Name")
					.col.col-sm-4
						label Password
						input.form-control(type="password",name="password",placeholder="Password")
					.col.col-sm-12
						button(type="submit").btn.btn-primary Login