extends layout-bootstrap
block append head
	title Light Usercenter
block append body
	.container: .row
		less
			.footer {font-color:#CEF;}
		.span6.offset3
			h1.page-header Light Usercenter
			p Welcome  to #{title}
			p.footer proudly powered by @waterwu