extends layout-mini
block append head
	title Light Usercenter
	style
		.hide { display:none; }
	script
		$.get("/api/users/my",function(user){
			if(!user)return;
			$("#user-info").show().html("Welcome, <b>"+user.name+"</b> :)");	
			if(user.name=="watert"){
				$("#actionList li").show();
			}
			console.log(user);
		});


block append body
	.container: .row
		.span7
			h1.page-header 
				| Light Usercenter
			.row
				.span4
					p.lead SSO Provider
					p 
				.span3

					p#user-info.hide.text-info
					ul#actionList.nav.nav-tabs.nav-stacked
						li: a(href="/user/login") Login
						li: a(href="/user/regist") Register
						li: a(href="/user/profile") Profiles
						li.hide: a(href="/admin") Manage
			include part-footer