doctype 5
html
	head
		block head
			base(href="/")
			script(src="libs/require.js")
			script(type="text/javascript", src="js/config.requirejs.js")

			script.
				require(["bootstrap3"])
	body
		block body
		.container
			.footer
				p.text-center.text-muted BUILD BY @WATERT. COPY RIGHT ALL RESERVED.