extends layout-weblib
block append head
	script(src="js/page-admin.js")
block append body
	#users.container
	script(type="text/tmpl")#tmpl-users
		h2 Users
		table.table
			thead: tr
				th Select
				th Name
				th.hidden-xs Email
				th
			tbody#users-tbody
	script(type="text/tmpl")#tmpl-user-tr
		td: label.label: input(type="checkbox")
		td: | <%=name%>
		td.hidden-xs: | <%=email%>
		td
			button.btn.btn-sm.btn-edit.btn-link Edit
			//- span.dropdown
			//- 	span.dropdown-toggle.btn.btn-sm.btn-default(data-toggle="dropdown")   
			//- 		span.caret
			//- 	ul.dropdown-menu
			//- 		li: a act