extends layout-weblib
block append head
	script(src="js/page-admin.js")
block append body
	.navbar.navbar-default:.navbar-inner
		.container
			.navbar-header: .navbar-brand User Profile
			.navbar-form.navbar-right
				.nav-user-info

	.container
		.row
			.col-sm-6
				.panel.panel-default: .panel-body
					h5.text-muted Other Users
					ul.users.nav.nav-list.row
			.col-sm-6.article
				h2 
					span(data-text="name")
					span 's Profile
				.row
					.col-sm-3
						img(data-src="gravatar")
					.col-sm-9

	script(type="text/tmpl")#user-item
		img(src!="<%=gravatar%>",width=32,height=32)
		a(data-text="name").btn.btn-link <%=name%>