doctype 5
html
	head
		block head
			link(rel='stylesheet', href='/libs/bootstrap23/css/bootstrap.min.css')
			link(rel='stylesheet', href='/libs/bootstrap23/css/bootstrap-responsive.min.css')
			script(src="/libs/jquery-1.10.2.min.js")
			script(src="/libs/bootstrap23/js/bootstrap.min.js")
			script(src="/libs/underscore+backbone.js")
			script(src="/libs/jQuery.lightDataBind.js")
	body
		block body
		script(src="/libs/less-1.2.2.min.js")
		