extends layout-bootstrap

block append body
	.container: .span6.offset3
		h1.page-header Welcome, #{user.name}
		.row
			.span2: a(href="#"): img(src="#{user.gravatar}?s=320")
			.span4
				pre= JSON.stringify(user,null,"\t")